:root {
  --heading-font-family: "Soleil", sans-serif;
  --body-font-family: "Inter", sans-serif;
  --background-color: #ffffff;
  --text-color: rgb(0, 0, 0);
  --link-color: rgb(0, 0, 238);
  --link-hover-color: rgb(0, 0, 180);
  --section-padding: 0px;
  --nav-height: 66px;
}

html, body { overflow: auto !important; }
